{% load static %}

<!-- Not included page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/user/activate.css' %}">
    <title>Account</title>
</head>

<main>
    <img src="{% static 'IMG/Main/Logo.jpg' %}" alt="Hatikwa-Logo">
    <div class="box">
        <form method="post">
            {% csrf_token %}
            <h1>Account</h1>
            <p>{{ error }}</p>
            <input type="text" name="first-name" placeholder="Voornaam" required>
            <input type="text" name="last-name" placeholder="Achternaam" required>
            <input type="password" name="pass" placeholder="Wachtwoord" required>
            <input type="password" name="check" placeholder="Herhaal wachtwoord" required>
            <button type="submit" name="login">Activate</button>
        </form>
    </div>
    <div class="disclaimer">
        <p>Sebastiaan de Vries</p>
        <a href="https://rhythmstudios.nl">&copy; Sebastiaans Rhythm Studios</a>
        <a href="https://hatikwa.nl">Hatikwa website</a>
    </div>
</main>
</html>