{% load static %}

<style> 
    .block {
        margin-top: 40px;
        margin-left: 50%;
        transform: translateX(-50%);
        position: relative;
        box-shadow: 0px 0px 40px #424242;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 300px;
        width: 250px;
        padding: 20px;
        text-align: justify;
        background-color: #151515;
    }

    .block::after {
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: 135%;
        background-image: url("https://pics.craiyon.com/2023-09-17/547428a2dcdc4c6e84b184213f9d289b.webp");
        /* background-image: url("https://wallpapercave.com/wp/wp7460934.jpg"); */
        /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f40fe395-b986-4b73-8732-7ad578e63d77/dgbwajg-1fe7d142-f31e-4ddb-aa71-23bdf879b652.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y0MGZlMzk1LWI5ODYtNGI3My04NzMyLTdhZDU3OGU2M2Q3N1wvZGdid2FqZy0xZmU3ZDE0Mi1mMzFlLTRkZGItYWE3MS0yM2JkZjg3OWI2NTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.IScWWSXIc1Darn_mLBdb05Wq11NuiYMhcnlwsJctZrM"); */
        opacity: 0.3;
    }

    .section-title {
        color: whitesmoke;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .block p {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 5px;
        text-align: left;
        width: 220px;
    }

    .block a {
        width: 220px;
        height: 40px;
        color: whitesmoke;
        font-weight: bolder;
        background: rgb(211, 139, 5);
        border: none;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    } 
</style>

<main>
    <form class="block" method="post">
        {% csrf_token %}
        <h1 class="section-title">Reset user</h1>
        <p>Weet je zeker dat je het account van {{ selected_user.first_name }} {{ selected_user.last_name }} ({{ selected_user.email }}) wilt resetten?</p>
        <a href="/admin/users/reset-user/{{email}}/reset" name="reset-user" type="submit">RESET</a>
    </form>
</main>