main {
    width: 280px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    list-style: none;
    box-shadow: 0px 0px 40px #424242;
}

main::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 135%;
    background-image: url("https://pics.craiyon.com/2023-09-17/547428a2dcdc4c6e84b184213f9d289b.webp");
    /* background-image: url("https://wallpapercave.com/wp/wp7460934.jpg"); */
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f40fe395-b986-4b73-8732-7ad578e63d77/dgbwajg-1fe7d142-f31e-4ddb-aa71-23bdf879b652.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y0MGZlMzk1LWI5ODYtNGI3My04NzMyLTdhZDU3OGU2M2Q3N1wvZGdid2FqZy0xZmU3ZDE0Mi1mMzFlLTRkZGItYWE3MS0yM2JkZjg3OWI2NTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.IScWWSXIc1Darn_mLBdb05Wq11NuiYMhcnlwsJctZrM"); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.3;
}

.welcome {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.section-title {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.file {
    color: whitesmoke;
    line-height: 30px;
    list-style: none;
}

.file a {
    color:  whitesmoke;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.item-break {
    width: 50%;
}