<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access denied</title>
</head>
<body>
    <h1>Helaas heeft u geen toegang tot deze pagina</h1>
    <p>Ga terug of vraag één van de website beheerders om toestemming</p>
    <h4><i>Website beheerders: Bestuursleden, Sebastiaan</i></h4>
    <a style="font-size:18px; font-weight: bold;" href="/">Home</a>
</body>
</html>