<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not logged in</title>
</head>
<body>
    <h1>U bent niet ingelogd</h1>
    <p><a href="/login">Login</a> om toegang te verkrijgen tot deze pagina</p>
    <p>De weg kwijt? Als gast kan je navigeren naar de <a href="/gast">gastenpagina</a>.</p>
    <p>Ingelogd en nogsteeds vast op deze pagina? Raadpleeg één van de website beheerders.</p>
    <h4><i>Website beheerders: Bestuursleden, Sebastiaan</i></h4>
</body>
</html>