main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main div {
    color: whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
    width: 350px;
    padding: 20px;
    text-align: justify;
    background-color: #151515;
}