{% load static %}

<!-- Main page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
    <title>Hatikwa Media</title>
</head>

<body>
    <div class="nav">
        {% if user.is_authenticated %}
        <a href="/songs">Repetoire</a>
        {% if media_perm %}
        <a href="/media">Media</a>
        {% endif %}
        {% if settings_perm %}
        <a href="/admin">Settings</a>
        {% endif %}
        <a href="/logout">Logout</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="/login">Login</a>
        {% endif %}
    </div>
    <hr class="top-bar">
    <img class="top-logo" src="{% static 'IMG/Main/Logo.jpg' %}" alt="Hatikwa-Logo">
    {% include page %}
</body>
</html>